  <h1><%= @song.title %></h1>
<% if !@song.artist.present? %>
  <%= link_to "Add Artist", edit_song_path(@song) %>
<% else %>
<%= link_to @song.artist.name, artist_path(@song.artist) %>
<% end %>
<%= display_artist(@song) %>
<br><br>

<%= link_to "All Songs", songs_path %>
